html {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

body {
    background-image: url("https://images.template.net/109000/free-animated-food-background-qk78y.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(15, 1, 54);
}

a {
    color: rgb(145, 1, 137);
}

.container {
    width: 1000px;
    min-width: 400px;
    height: 95vh;
    margin: 0 auto;
    text-align: left;

    background-color: rgba(255, 235, 57, 0.459);

    opacity: 0.8;
    padding: 40px 4rem;
    border: 1px solid wheat;
    border-radius: 10px;
}

.recipe-list {
    margin: 10px auto;
    list-style: circle;
}

li {
    margin: 5px;
}

.hero {
    display: flex;
    width: 100%;
    margin: 20px auto;
    border-radius: 8px;
}

p {
    text-align: center;
    margin-top: -10px;
    font-style: italic;
    font-size: 14px;
}